th,td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
}
tr {
	border: 1px solid gray;
}
td {
	width:200px;
	padding:3px;
}
th {
	background-color:#214020;
	color:#FFF
}
table {
    border: 1pt solid gray;
}
.clickable {
	cursor:pointer;
}
.stripe1 {
    background-color:#eeeeee;
}
.stripe2 {
    background-color:#d0d0d0;
}
.highlight {
    background-color: #ffcc00;

}